/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 86, ../scss/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* @group elements */
/* line 5, ../scss/global.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
}

/* line 10, ../scss/global.scss */
body {
  font: 1em/1.5 "Helvetica Neue", Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #55757e;
  background: #d7e0e2;
  position: relative;
}

/* line 19, ../scss/global.scss */
img {
  max-width: 100%;
  vertical-align: middle;
}

/* line 24, ../scss/global.scss */
small {
  font-size: .75em;
}

/* line 30, ../scss/global.scss */
strong,
b,
dt {
  font-weight: bold;
}

/* line 39, ../scss/global.scss */
i,
cite,
em,
var,
address,
dfn {
  font-size: 1.25em;
  line-height: 1.2;
  font-style: italic;
  font-family: Baskerville, Georgia, "Times New Roman", Times, serif;
}

/* line 46, ../scss/global.scss */
small {
  font-size: .85em;
}

/* line 51, ../scss/global.scss */
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 58, ../scss/global.scss */
sup {
  top: -0.5em;
}

/* line 62, ../scss/global.scss */
sub {
  bottom: -0.25em;
}

/* line 69, ../scss/global.scss */
pre,
code,
samp,
kbd {
  font-size: 1em;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}

/* line 75, ../scss/global.scss */
code,
samp {
  color: #e57422;
  background: #fff;
}

/* line 80, ../scss/global.scss */
code {
  font-style: normal;
}

/* line 84, ../scss/global.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 92, ../scss/global.scss */
ul {
  list-style: square;
}

/* line 96, ../scss/global.scss */
ol {
  list-style: decimal;
}

/* line 103, ../scss/global.scss */
ul ul,
ol ol,
ul ol,
ol ul {
  margin-left: 1.5em;
}

/* line 107, ../scss/global.scss */
.plain-list {
  list-style: none;
}

/* line 111, ../scss/global.scss */
hr {
  display: none;
}

/* @group headings */
/* line 117, ../scss/global.scss */
h1 {
  font-size: 2em;
  line-height: 1.25;
  font-weight: bold;
  font-family: "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  padding-top: .5em;
  margin-bottom: 1.5em;
}

/* line 126, ../scss/global.scss */
h2, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 130, ../scss/global.scss */
h2 {
  font-family: "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  line-height: 1.25;
  margin-bottom: 1em;
}

/* line 137, ../scss/global.scss */
h3 {
  font-family: "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  line-height: 1.3333333333333333;
  margin-bottom: .5em;
  font-weight: bold;
}

/* @end headings */
/* @group shared */
/* line 149, ../scss/global.scss */
p, ul, ol, dl, form, pre {
  margin-bottom: 1.5em;
}

/* @end shared */
/* @group links */
/* line 157, ../scss/global.scss */
a {
  color: #c5171a;
  text-decoration: none;
  border-bottom: 2px solid #f0c5c6;
}

/* line 163, ../scss/global.scss */
a:hover,
a:focus {
  color: #ae151d;
  border-color: #ae151d;
}

/* line 167, ../scss/global.scss */
a:active {
  color: #600a0f;
  border-color: #600a0f;
}

/* @end links */
/* @group quotes */
/* line 176, ../scss/global.scss */
blockquote, q {
  quotes: none;
}

/* line 177, ../scss/global.scss */
blockquote:before, blockquote:after {
  content: '';
  content: none;
}

/* line 182, ../scss/global.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* @end quotes */
/* @group tables */
/* line 191, ../scss/global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* @end tables */
/* @group forms */
/* line 200, ../scss/global.scss */
form {
  margin: 0;
}

/* line 207, ../scss/global.scss */
button,
input,
select,
textarea {
  color: #444;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 214, ../scss/global.scss */
input[type="text"] {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

/* line 221, ../scss/global.scss */
button[disabled],
input[disabled] {
  cursor: not-allowed;
}

/* @end forms */
/* @end elements */
/* @group header */
/* line 231, ../scss/global.scss */
.header {
  color: #fff;
  background: #c21720;
}

/* line 236, ../scss/global.scss */
.header h1 {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

/* line 243, ../scss/global.scss */
.header a:link,
.header a:visited {
  color: #fff;
}

/* line 248, ../scss/global.scss */
.header a:hover,
.header a:focus {
  color: #f5c2c5;
}

/* line 252, ../scss/global.scss */
.header a:active {
  color: #ea838c;
}

/* line 256, ../scss/global.scss */
.header-title {
  font-size: 2em;
  font-family: "AdelleBasic-Bold", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-style: italic;
  text-align: center;
  color: #fff;
  border-bottom: 10px solid #ec9022;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: block;
  padding: 1em 0 0;
  margin: 0 15%;
}

/* line 269, ../scss/global.scss */
.header-title a {
  color: #fff;
  border: 0;
}

/* line 275, ../scss/global.scss */
.jump-nav,
a.jump-nav {
  color: #fff;
  border: 0;
  position: absolute;
  top: .5em;
  left: 2.5%;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (min-width: 40em) {
  /* line 286, ../scss/global.scss */
  .header-title {
    font-style: normal;
    text-transform: uppercase;
    margin: 0 40%;
  }

  /* line 292, ../scss/global.scss */
  .page-home .header-title {
    font-size: 4em;
    font-style: italic;
    text-transform: none;
    padding-top: .5em;
    position: relative;
  }

  /* line 300, ../scss/global.scss */
  .page-home .header-title span {
    display: block;
    margin: 0 -100%;
  }

  /* line 305, ../scss/global.scss */
  .jump-nav {
    display: none;
  }
}
/* @end header */
/* @group main */
/* line 315, ../scss/global.scss */
.main {
  color: #444;
  background: #fff;
  padding: 1.5em 0;
}

/* line 321, ../scss/global.scss */
.posted {
  /*margin-bottom: 0;*/
  padding-top: 1em;
  color: #808080;
  text-align: center;
}

/* line 331, ../scss/global.scss */
.archive-link a {
  font-size: 1.5em;
  color: #fff;
  background: #c21720;
  font-family: "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: .6em 1em .4em 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  text-align: center;
  display: block;
}

@media screen and (min-width: 40em) {
  /* line 351, ../scss/global.scss */
  .archive-link {
    text-align: center;
  }

  /* line 355, ../scss/global.scss */
  .archive-link a {
    display: inline;
  }
}
/* line 362, ../scss/global.scss */
.archive-link a:hover,
.archive-link a:focus {
  color: #efc5c6;
}

/* line 366, ../scss/global.scss */
.archive-link a:active {
  color: #efc5c6;
  background: #ae151d;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
}

/* @end main */
/* @group about */
/* line 378, ../scss/global.scss */
.about {
  color: #444;
  background: #fff;
  padding: 1.5em 0;
}

/* line 384, ../scss/global.scss */
.about-copy {
  color: #808080;
}

/* @end about */
/* @group footer */
/* line 392, ../scss/global.scss */
.footer {
  border-top: 1px solid #88a1a9;
  text-align: center;
}

/* line 397, ../scss/global.scss */
.footer a {
  color: #56757d;
  border-color: #b0c1c6;
}

/* line 402, ../scss/global.scss */
.copyright {
  border-top: 10px solid #b0c1c6;
  padding: 2em 0;
}

/* line 407, ../scss/global.scss */
.copyright small {
  font-size: 1em;
  font-family: "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}

/* line 414, ../scss/global.scss */
.jump-top {
  margin-bottom: 1.5em;
}

/* @end footer */
/* @group misc */
/* line 422, ../scss/global.scss */
.hidden {
  display: block;
  visibility: hidden;
  height: 0;
}

/* @end misc */
