/* @group elements */
/* line 3, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\000033}}
html {
  overflow-y: scroll;
  font-size: 100%;
}
/* line 8, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\000038}}
body {
  font: 1em/1.5 "PT Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #55757e;
  background: #d7e0e2;
  position: relative;
  margin: 0;
}
/* line 17, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000317}}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
/* line 24, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000324}}
small {
  font-size: .75em;
}
/* line 28, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000328}}
strong,
b,
dt {
  font-weight: bold;
}
/* line 34, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000334}}
i,
cite,
em,
var,
address,
dfn {
  font-style: italic;
}
/* line 43, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000343}}
small {
  font-size: .85em;
}
/* line 47, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000347}}
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 55, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000355}}
sup {
  top: -0.5em;
}
/* line 59, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000359}}
sub {
  bottom: -0.25em;
}
/* line 63, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000363}}
pre,
code,
samp,
kbd {
  font-size: 1em;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
/* line 71, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000371}}
code,
samp {
  color: #e57422;
  background: #fff;
}
/* line 77, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000377}}
code {
  font-style: normal;
}
/* line 81, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000381}}
pre {
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

}
/* line 89, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000389}}
ul,
ol {
  padding: 0;
}
/* line 94, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000394}}
ul {
  list-style: square;
}
/* line 98, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000398}}
ol {
  list-style: decimal;
}
/* line 102, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003102}}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-left: 1.5em;
  margin-bottom: 0;
}
/* line 110, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003110}}
.plain-list {
  list-style: none;
}
/* line 114, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003114}}
hr {
  display: none;
}
/* line 118, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003118}}
.lead {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 2.8em;
}
/* @group headings */
/* line 126, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003126}}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}
/* line 135, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003135}}
h1 {
  font-size: 2em;
  /* 32/16 */

  line-height: 1.25;
  /* 40/32 */

  font-weight: bold;
  font-style: italic;
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 1em;
  text-align: center;
}
@media screen and (min-width: 40em) {
  /* line 138, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003138}}
  h1 {
    font-size: 3em;
  }
}
/* line 150, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003150}}
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 156, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003156}}
h2 {
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  /* 24/16 */

  line-height: 1.25;
  /* 30/24 */

  margin-bottom: .5em;
  text-align: center;
}
/* line 164, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003164}}
h3 {
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  /* 20/16 */

  line-height: 1.3;
  /* 26/20 */

  font-style: italic;
  margin-bottom: .5em;
  font-weight: bold;
  text-align: center;
}
/* @end headings */
/* @group shared */
/* line 178, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003178}}
p,
ul,
ol,
dl,
form,
pre {
  margin: 0 0 1.5em;
}
/* @end shared */
/* @group selection */
/* line 186, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003186}}
::-moz-selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none;
}
/* line 187, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003187}}
::selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none;
}
/* @end selection */
/* @group links */
/* line 193, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003193}}
a {
  color: #c5171a;
  text-decoration: none;
  border-bottom: 2px solid #f0c5c6;
  outline: none;
}
/* line 199, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003199}}
a:hover,
a:focus {
  color: #ae151d;
  border-color: #ae151d;
}
/* line 205, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003205}}
a:active {
  color: #600a0f;
  border-color: #600a0f;
}
/* @end links */
/* @group quotes */
/* line 214, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003214}}
blockquote {
  border-left: 4px solid #c21720;
  color: #848484;
  margin: 0;
  padding: 0 0 0 1em;
}
/* line 221, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003221}}
blockquote,
q {
  quotes: none;
}
/* line 222, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003222}}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
/* line 227, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003227}}
q:before,
q:after {
  content: '';
  content: none;
}
/* @end quotes */
/* @group tables */
/* line 236, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003236}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end tables */
/* @group forms */
/* line 245, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003245}}
.search {
  padding-top: 3em;
}
/* line 249, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003249}}
button,
input,
select,
textarea {
  color: #444;
  background: #fff;
  font-size: 1em;
  /* line-height: 1.5; */

  font-family: inherit;
}
/* We love applying fixes to specific browsers! */
/* line 261, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003261}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 266, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003266}}
input[type="text"],
input[type="search"],
input[type="password"] {
  color: #56757d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: .25em;
  background: #d7e0e2;
  -webkit-appearance: none;
  border: 1px solid #b0c1c6;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: #b0c1c6 0 2px 4px inset;
  -moz-box-shadow: #b0c1c6 0 2px 4px inset;
  box-shadow: #b0c1c6 0 2px 4px inset;
}
/* line 281, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003281}}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  background: #fff;
  -webkit-box-shadow: #d7e0e2 0 2px 4px inset;
  -moz-box-shadow: #d7e0e2 0 2px 4px inset;
  box-shadow: #d7e0e2 0 2px 4px inset;
  border-color: #61828b;
}
/* line 287, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003287}}
.search input[type="text"],
.search input[type="search"],
.search input[type="password"] {
  width: 75%;
  float: left;
}
@media screen and (min-width: 30em) {
  /* line 290, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003290}}
  .search input[type="text"],
  .search input[type="search"],
  .search input[type="password"] {
    width: 90%;
  }
}
/* line 299, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003299}}
.search input[type="text"]::-webkit-input-placeholder {
  color: #b0c1c6;
}
/* line 303, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003303}}
.search input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 308, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003308}}
button,
input[type="submit"] {
  margin: 0;
  background: #61828b;
  border: 1px solid #61828b;
  color: #fff;
  padding: .25em .75em;
}
/* line 316, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003316}}
button:active,
input[type="submit"]:active {
  color: #d7e0e2;
  background: #56757d;
  border-color: #56757d;
}
/* line 322, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003322}}
.search button,
.search input[type="submit"] {
  width: 25%;
  float: left;
  margin-left: -1px;
}
@media screen and (min-width: 30em) {
  /* line 325, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003325}}
  .search button,
  .search input[type="submit"] {
    width: 10%;
  }
}
/* line 334, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003334}}
button[disabled],
input[disabled] {
  cursor: not-allowed;
}
/* @end forms */
/* @end elements */
/* @group header */
/* line 345, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003345}}
.header {
  color: #fff;
  background: #c21720;
  padding-top: 1em;
  border-bottom: 10px solid #ae151d;
}
/* line 351, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003351}}
.header > h1 {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/* line 358, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003358}}
.header a:link,
.header a:visited {
  color: #fff;
}
/* line 363, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003363}}
.header a:hover,
.header a:focus {
  color: #f5c2c5;
}
/* line 368, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003368}}
.header a:active {
  color: #ea838c;
}
/* line 373, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003373}}
.go-to-footer {
  padding: .25em .5em;
  font-size: 1.25em;
  background: #ae151d;
  color: #fff;
  border: 0;
  text-align: center;
  position: relative;
  top: -0.75em;
  display: block;
  margin-bottom: .5em;
}
@media screen and (min-width: 40em) {
  /* line 385, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003385}}
  .go-to-footer {
    position: absolute;
    left: .5em;
    top: .5em;
  }
}
/* line 391, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003391}}
.header .go-to-footer:focus {
  color: #fff;
  outline: 4px solid #e98f30;
}
/* line 396, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003396}}
.go-to-footer:active {
  background: #9c0007;
}
/* line 401, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003401}}
.header-title {
  font-size: 2em;
  font-family: adelle-1, "AdelleBasic-Bold", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  width: 8em;
  margin: auto;
  color: #fff;
  border-bottom: 10px solid #ec9022;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: -10px;
}
@media screen and (min-width: 30em) {
  /* line 416, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003416}}
  .page-home .header-title {
    font-size: 4em;
    font-style: italic;
    text-transform: none;
    width: 4em;
  }
}
/* line 426, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003426}}
.header-title span {
  margin-left: -2em;
  margin-right: -2em;
}
/* line 431, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003431}}
.header-title a {
  color: #fff;
  border: 0;
}
/* @end header */
/* @group main */
/* line 441, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003441}}
.main {
  color: #444;
  background: #fff;
  padding: 3em 0;
  margin-bottom: -10px;
  border-bottom: 10px solid #b0c1c6;
  font-size: 125%;
}
/* line 450, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003450}}
.content {
  padding: 0 5%;
  max-width: 30em;
  margin: auto;
}
/* line 455, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003455}}
.search .content {
  position: relative;
}
/* line 460, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003460}}
.posted {
  font-style: italic;
  display: block;
  color: #808080;
  text-align: center;
  margin-bottom: .5em;
}
/* line 468, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003468}}
.posted::before,
.posted::after {
  content: '~';
}
/* line 473, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003473}}
.posted::before {
  margin-right: .25em;
}
/* line 477, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003477}}
.posted::after {
  margin-left: .25em;
}
/* line 481, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003481}}
.posts-listing {
  list-style: none;
}
/* line 484, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003484}}
.posts-listing > li {
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
  padding-bottom: 3em;
}
/* line 491, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003491}}
.link {
  margin-bottom: 1.5em;
}
/* line 495, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003495}}
.archive {
  margin-bottom: 6em;
}
/* line 498, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003498}}
.archive > h3 {
  padding-bottom: .5em;
}
/* line 502, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003502}}
.archive > a {
  font-size: 1.5em;
  color: #fff;
  background: #c21720;
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: .6em 1em .4em 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  text-align: center;
  display: block;
}
/* line 519, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003519}}
.archive > a:hover,
.archive > a:focus {
  color: #efc5c6;
}
/* line 524, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003524}}
.archive > a:active {
  color: #efc5c6;
  background: #ae151d;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
}
@media screen and (min-width: 40em) {
  /* line 534, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003534}}
  .archive {
    text-align: center;
  }
  /* line 537, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003537}}
  .archive > a {
    display: inline;
  }
}
/* @end main */
/* @group about */
/* line 548, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003548}}
.about {
  color: #444;
  background: #fff;
  padding: 1.5em 0;
}
/* line 554, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003554}}
.about-copy {
  color: #808080;
}
/* @end about */
/* @group footer */
/* line 562, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003562}}
.footer {
  text-align: center;
  padding: 0 0 1em;
}
/* line 566, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003566}}
.footer a {
  color: #56757d;
  border-color: #b0c1c6;
  outline: none;
}
/* line 571, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003571}}
.footer a:hover,
.footer a:focus {
  border-color: #56757d;
}
/* line 576, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003576}}
.footer a:active {
  color: #304146;
  border-color: #304146;
}
/* line 584, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003584}}
.footer-copy p {
  line-height: 1.25;
  margin: 0 0 1em;
}
/* line 590, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003590}}
.copyright {
  width: 16em;
  margin: auto;
  /* border-top: 10px solid #b0c1c6; */

  border-top: 10px solid #88a1a9;
  padding: 1.5em 0;
}
/* line 597, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003597}}
.copyright > small {
  font-size: 1em;
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}
/* @end footer */
/* @group misc */
/* line 609, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003609}}
.hidden {
  display: block;
  visibility: hidden;
  height: 0;
}
/* @end misc */