/* @group elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\000033}}
html {
  overflow-y: scroll;
  font-size: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\000038}}
body {
  font: 1em/1.5 "PT Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #55757e;
  background: #d7e0e2;
  position: relative;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000317}}
img {
  max-width: 100%;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000322}}
small {
  font-size: .75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000328}}
strong,
b,
dt {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000337}}
i,
cite,
em,
var,
address,
dfn {
  font-size: 1.25em;
  line-height: 1.2;
  font-style: italic;
  font-family: Baskerville, Georgia, "Times New Roman", Times, serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000344}}
small {
  font-size: .85em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000349}}
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000356}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000360}}
sub {
  bottom: -0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000367}}
pre,
code,
samp,
kbd {
  font-size: 1em;
  font-family: Menlo, Monaco, 'Courier New', monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000373}}
code,
samp {
  color: #e57422;
  background: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000378}}
code {
  font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000382}}
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */ }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000391}}
ul,
ol {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000395}}
ul {
  list-style: square; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\0000399}}
ol {
  list-style: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003106}}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-left: 1.5em;
  margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003111}}
.plain-list {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003115}}
hr {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003119}}
.lead {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 2.8em; }

/* @group headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003132}}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003136}}
h1 {
  font-size: 2em;
  /* 32/16 */
  line-height: 1.25;
  /* 40/32 */
  font-weight: bold;
  font-style: italic;
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 1em;
  text-align: center; }
  @media screen and (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003136}}
    h1 {
      font-size: 3em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003153}}
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003157}}
h2 {
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  /* 24/16 */
  line-height: 1.25;
  /* 30/24 */
  margin-bottom: .5em;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003165}}
h3 {
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  /* 20/16 */
  line-height: 1.3;
  /* 26/20 */
  font-style: italic;
  margin-bottom: .5em;
  font-weight: bold;
  text-align: center; }

/* @end headings */
/* @group shared */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003179}}
p, ul, ol, dl, form, pre {
  margin: 0 0 1.5em; }

/* @end shared */
/* @group selection */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003187}}
::-moz-selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003188}}
::selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none; }

/* @end selection */
/* @group links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003194}}
a {
  color: #c5171a;
  text-decoration: none;
  border-bottom: 2px solid #f0c5c6;
  outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003201}}
  a:hover, a:focus {
    color: #ae151d;
    border-color: #ae151d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003206}}
  a:active {
    color: #600a0f;
    border-color: #600a0f; }

/* @end links */
/* @group quotes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003215}}
blockquote {
  border-left: 4px solid #c21720;
  color: #848484;
  margin: 0;
  padding: 0 0 0 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003222}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003223}}
blockquote:before, blockquote:after {
  content: '';
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003228}}
q:before, q:after {
  content: '';
  content: none; }

/* @end quotes */
/* @group tables */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003237}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* @end tables */
/* @group forms */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003246}}
.search {
  padding-top: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003253}}
button,
input,
select,
textarea {
  color: #444;
  background: #fff;
  font-size: 1em;
  /* line-height: 1.5; */
  font-family: inherit; }

/* We love applying fixes to specific browsers! */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003262}}
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003269}}
input[type="text"],
input[type="search"],
input[type="password"] {
  color: #56757d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: .25em;
  background: #d7e0e2;
  -webkit-appearance: none;
  border: 1px solid #b0c1c6;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: #b0c1c6 0 2px 4px inset;
  -moz-box-shadow: #b0c1c6 0 2px 4px inset;
  box-shadow: #b0c1c6 0 2px 4px inset; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003282}}
  input[type="text"]:focus,
  input[type="search"]:focus,
  input[type="password"]:focus {
    background: #fff;
    -webkit-box-shadow: #d7e0e2 0 2px 4px inset;
    -moz-box-shadow: #d7e0e2 0 2px 4px inset;
    box-shadow: #d7e0e2 0 2px 4px inset;
    border-color: #61828b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003288}}
  .search input[type="text"], .search
  input[type="search"], .search
  input[type="password"] {
    width: 75%;
    float: left; }
    @media screen and (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003288}}
      .search input[type="text"], .search
      input[type="search"], .search
      input[type="password"] {
        width: 90%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003300}}
.search input[type="text"]::-webkit-input-placeholder {
  color: #b0c1c6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003304}}
.search input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003310}}
button,
input[type="submit"] {
  margin: 0;
  background: #61828b;
  border: 1px solid #61828b;
  color: #fff;
  padding: .25em .75em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003317}}
  button:active,
  input[type="submit"]:active {
    color: #d7e0e2;
    background: #56757d;
    border-color: #56757d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003323}}
  .search button, .search
  input[type="submit"] {
    width: 25%;
    float: left;
    margin-left: -1px; }
    @media screen and (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003323}}
      .search button, .search
      input[type="submit"] {
        width: 10%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003336}}
button[disabled],
input[disabled] {
  cursor: not-allowed; }

/* @end forms */
/* @end elements */
/* @group header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003346}}
.header {
  color: #fff;
  background: #c21720;
  padding-top: 1em;
  border-bottom: 10px solid #ae151d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003352}}
  .header > h1 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003360}}
  .header a:link,
  .header a:visited {
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003365}}
  .header a:hover,
  .header a:focus {
    color: #f5c2c5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003369}}
  .header a:active {
    color: #ea838c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003374}}
.go-to-footer {
  padding: .25em;
  border: 0;
  font-size: 1.25em;
  background: #ae151d;
  position: absolute;
  left: -999em;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003383}}
  .header .go-to-footer:focus {
    color: #fff;
    left: .5em;
    top: .5em;
    outline: 4px solid #e98f30; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003391}}
.header-title {
  font-size: 2em;
  font-family: adelle-1, "AdelleBasic-Bold", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  width: 8em;
  margin: auto;
  color: #fff;
  border-bottom: 10px solid #ec9022;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: -10px; }
  @media screen and (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003406}}
    .page-home .header-title {
      font-size: 4em;
      font-style: italic;
      text-transform: none;
      width: 4em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003416}}
.header-title span {
  margin-left: -2em;
  margin-right: -2em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003421}}
.header-title a {
  color: #fff;
  border: 0; }

/* @end header */
/* @group main */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003431}}
.main {
  color: #444;
  background: #fff;
  padding: 3em 0;
  margin-bottom: -10px;
  border-bottom: 10px solid #b0c1c6;
  font-size: 125%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003440}}
.content {
  padding: 0 5%;
  max-width: 30em;
  margin: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003445}}
  .search .content {
    position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003450}}
.posted {
  font-style: italic;
  display: block;
  color: #808080;
  text-align: center;
  margin-bottom: .5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003459}}
.posted::before,
.posted::after {
  content: '~'; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003463}}
.posted::before {
  margin-right: .25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003467}}
.posted::after {
  margin-left: .25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003471}}
.posts-listing {
  list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003474}}
  .posts-listing > li {
    margin-bottom: 4em;
    border-bottom: 1px solid #eee;
    padding-bottom: 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003481}}
.link {
  margin-bottom: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003485}}
.archive {
  margin-bottom: 6em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003488}}
  .archive > h3 {
    padding-bottom: .5em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003492}}
  .archive > a {
    font-size: 1.5em;
    color: #fff;
    background: #c21720;
    font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 0;
    padding: .6em 1em .4em 1em;
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    border-radius: .2em;
    text-align: center;
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003510}}
    .archive > a:hover, .archive > a:focus {
      color: #efc5c6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003514}}
    .archive > a:active {
      color: #efc5c6;
      background: #ae151d;
      -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
      -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
      box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px; }
  @media screen and (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003524}}
    .archive {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003527}}
      .archive > a {
        display: inline; } }

/* @end main */
/* @group about */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003538}}
.about {
  color: #444;
  background: #fff;
  padding: 1.5em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003544}}
.about-copy {
  color: #808080; }

/* @end about */
/* @group footer */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003552}}
.footer {
  text-align: center;
  padding: 0 0 1em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003556}}
  .footer a {
    color: #56757d;
    border-color: #b0c1c6;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003562}}
    .footer a:hover, .footer a:focus {
      border-color: #56757d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003566}}
    .footer a:active {
      color: #304146;
      border-color: #304146; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003574}}
.footer-copy p {
  line-height: 1.25;
  margin: 0 0 1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003580}}
.copyright {
  width: 16em;
  margin: auto;
  /* border-top: 10px solid #b0c1c6; */
  border-top: 10px solid #88a1a9;
  padding: 1.5em 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003587}}
  .copyright > small {
    font-size: 1em;
    font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-shadow: #fff 0 1px 0; }

/* @end footer */
/* @group misc */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/scss\/partials\/_main\.scss}line{font-family:\00003599}}
.hidden {
  display: block;
  visibility: hidden;
  height: 0; }

/* @end misc */
