/* @group elements */
/* line 3, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\000033}}
html {
  overflow-y: scroll;
  font-size: 100%;
}
/* line 8, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\000038}}
body {
  font: 1em/1.5 "PT Sans", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #55757e;
  background: #d7e0e2;
  position: relative;
  margin: 0;
}
/* line 17, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000317}}
img {
  height: auto;
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
/* line 24, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000324}}
small {
  font-size: .75em;
}
/* line 28, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000328}}
strong,
b,
dt {
  font-weight: bold;
}
/* line 34, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000334}}
i,
cite,
em,
var,
address,
dfn {
  font-size: 1.25em;
  line-height: 1.2;
  font-style: italic;
  font-family: Baskerville, Georgia, "Times New Roman", Times, serif;
}
/* line 46, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000346}}
small {
  font-size: .85em;
}
/* line 50, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000350}}
sub,
sup {
  font-size: .75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/* line 58, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000358}}
sup {
  top: -0.5em;
}
/* line 62, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000362}}
sub {
  bottom: -0.25em;
}
/* line 66, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000366}}
pre,
code,
samp,
kbd {
  font-size: 1em;
  font-family: Menlo, Monaco, 'Courier New', monospace;
}
/* line 74, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000374}}
code,
samp {
  color: #e57422;
  background: #fff;
}
/* line 80, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000380}}
code {
  font-style: normal;
}
/* line 84, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000384}}
pre {
  white-space: pre-wrap;
  /* css-3 */

  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */

  white-space: -pre-wrap;
  /* Opera 4-6 */

  white-space: -o-pre-wrap;
  /* Opera 7 */

  word-wrap: break-word;
  /* Internet Explorer 5.5+ */

}
/* line 92, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000392}}
ul,
ol {
  padding: 0;
}
/* line 97, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\0000397}}
ul {
  list-style: square;
}
/* line 101, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003101}}
ol {
  list-style: decimal;
}
/* line 105, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003105}}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-left: 1.5em;
  margin-bottom: 0;
}
/* line 113, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003113}}
.plain-list {
  list-style: none;
}
/* line 117, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003117}}
hr {
  display: none;
}
/* line 121, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003121}}
.lead {
  font-size: 1.25em;
  line-height: 1.4;
  margin-bottom: 2.8em;
}
/* @group headings */
/* line 129, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003129}}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
}
/* line 138, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003138}}
h1 {
  font-size: 2em;
  /* 32/16 */

  line-height: 1.25;
  /* 40/32 */

  font-weight: bold;
  font-style: italic;
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  margin: 0 0 1em;
  text-align: center;
}
@media screen and (min-width: 40em) {
  /* line 141, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003141}}
  h1 {
    font-size: 3em;
  }
}
/* line 153, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003153}}
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 159, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003159}}
h2 {
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.5em;
  /* 24/16 */

  line-height: 1.25;
  /* 30/24 */

  margin-bottom: .5em;
  text-align: center;
}
/* line 167, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003167}}
h3 {
  font-family: adelle-1, "AdelleBasic-BoldItalic", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-size: 1.25em;
  /* 20/16 */

  line-height: 1.3;
  /* 26/20 */

  font-style: italic;
  margin-bottom: .5em;
  font-weight: bold;
  text-align: center;
}
/* @end headings */
/* @group shared */
/* line 181, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003181}}
p,
ul,
ol,
dl,
form,
pre {
  margin: 0 0 1.5em;
}
/* @end shared */
/* @group selection */
/* line 189, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003189}}
::-moz-selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none;
}
/* line 190, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003190}}
::selection {
  color: #efc5c6;
  background: #c21720;
  text-shadow: none;
}
/* @end selection */
/* @group links */
/* line 196, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003196}}
a {
  color: #c5171a;
  text-decoration: none;
  border-bottom: 2px solid #f0c5c6;
  outline: none;
}
/* line 202, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003202}}
a:hover,
a:focus {
  color: #ae151d;
  border-color: #ae151d;
}
/* line 208, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003208}}
a:active {
  color: #600a0f;
  border-color: #600a0f;
}
/* @end links */
/* @group quotes */
/* line 217, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003217}}
blockquote {
  border-left: 4px solid #c21720;
  color: #848484;
  margin: 0;
  padding: 0 0 0 1em;
}
/* line 224, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003224}}
blockquote,
q {
  quotes: none;
}
/* line 225, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003225}}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
/* line 230, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003230}}
q:before,
q:after {
  content: '';
  content: none;
}
/* @end quotes */
/* @group tables */
/* line 239, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003239}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* @end tables */
/* @group forms */
/* line 248, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003248}}
.search {
  padding-top: 3em;
}
/* line 252, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003252}}
button,
input,
select,
textarea {
  color: #444;
  background: #fff;
  font-size: 1em;
  /* line-height: 1.5; */

  font-family: inherit;
}
/* We love applying fixes to specific browsers! */
/* line 264, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003264}}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* line 269, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003269}}
input[type="text"],
input[type="search"],
input[type="password"] {
  color: #56757d;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0;
  padding: .25em;
  background: #d7e0e2;
  -webkit-appearance: none;
  border: 1px solid #b0c1c6;
  border-radius: 0;
  outline: none;
  -webkit-box-shadow: #b0c1c6 0 2px 4px inset;
  -moz-box-shadow: #b0c1c6 0 2px 4px inset;
  box-shadow: #b0c1c6 0 2px 4px inset;
}
/* line 284, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003284}}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus {
  background: #fff;
  -webkit-box-shadow: #d7e0e2 0 2px 4px inset;
  -moz-box-shadow: #d7e0e2 0 2px 4px inset;
  box-shadow: #d7e0e2 0 2px 4px inset;
  border-color: #61828b;
}
/* line 290, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003290}}
.search input[type="text"],
.search input[type="search"],
.search input[type="password"] {
  width: 75%;
  float: left;
}
@media screen and (min-width: 30em) {
  /* line 293, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003293}}
  .search input[type="text"],
  .search input[type="search"],
  .search input[type="password"] {
    width: 90%;
  }
}
/* line 302, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003302}}
.search input[type="text"]::-webkit-input-placeholder {
  color: #b0c1c6;
}
/* line 306, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003306}}
.search input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 311, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003311}}
button,
input[type="submit"] {
  margin: 0;
  background: #61828b;
  border: 1px solid #61828b;
  color: #fff;
  padding: .25em .75em;
}
/* line 319, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003319}}
button:active,
input[type="submit"]:active {
  color: #d7e0e2;
  background: #56757d;
  border-color: #56757d;
}
/* line 325, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003325}}
.search button,
.search input[type="submit"] {
  width: 25%;
  float: left;
  margin-left: -1px;
}
@media screen and (min-width: 30em) {
  /* line 328, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003328}}
  .search button,
  .search input[type="submit"] {
    width: 10%;
  }
}
/* line 337, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003337}}
button[disabled],
input[disabled] {
  cursor: not-allowed;
}
/* @end forms */
/* @end elements */
/* @group header */
/* line 348, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003348}}
.header {
  color: #fff;
  background: #c21720;
  padding-top: 1em;
  border-bottom: 10px solid #ae151d;
}
/* line 354, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003354}}
.header > h1 {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
/* line 361, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003361}}
.header a:link,
.header a:visited {
  color: #fff;
}
/* line 366, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003366}}
.header a:hover,
.header a:focus {
  color: #f5c2c5;
}
/* line 371, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003371}}
.header a:active {
  color: #ea838c;
}
/* line 376, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003376}}
.go-to-footer {
  padding: .25em .5em;
  font-size: 1.25em;
  background: #ae151d;
  color: #fff;
  border: 0;
  text-align: center;
  position: relative;
  top: -0.75em;
  display: block;
  margin-bottom: .5em;
}
@media screen and (min-width: 40em) {
  /* line 388, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003388}}
  .go-to-footer {
    position: absolute;
    left: .5em;
    top: .5em;
  }
}
/* line 394, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003394}}
.header .go-to-footer:focus {
  color: #fff;
  outline: 4px solid #e98f30;
}
/* line 399, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003399}}
.go-to-footer:active {
  background: #9c0007;
}
/* line 404, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003404}}
.header-title {
  font-size: 2em;
  font-family: adelle-1, "AdelleBasic-Bold", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  width: 8em;
  margin: auto;
  color: #fff;
  border-bottom: 10px solid #ec9022;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.25);
  display: block;
  margin-bottom: -10px;
}
@media screen and (min-width: 30em) {
  /* line 419, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003419}}
  .page-home .header-title {
    font-size: 4em;
    font-style: italic;
    text-transform: none;
    width: 4em;
  }
}
/* line 429, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003429}}
.header-title span {
  margin-left: -2em;
  margin-right: -2em;
}
/* line 434, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003434}}
.header-title a {
  color: #fff;
  border: 0;
}
/* @end header */
/* @group main */
/* line 444, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003444}}
.main {
  color: #444;
  background: #fff;
  padding: 3em 0;
  margin-bottom: -10px;
  border-bottom: 10px solid #b0c1c6;
  font-size: 125%;
}
/* line 453, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003453}}
.content {
  padding: 0 5%;
  max-width: 30em;
  margin: auto;
}
/* line 458, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003458}}
.search .content {
  position: relative;
}
/* line 463, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003463}}
.posted {
  font-style: italic;
  display: block;
  color: #808080;
  text-align: center;
  margin-bottom: .5em;
}
/* line 471, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003471}}
.posted::before,
.posted::after {
  content: '~';
}
/* line 476, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003476}}
.posted::before {
  margin-right: .25em;
}
/* line 480, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003480}}
.posted::after {
  margin-left: .25em;
}
/* line 484, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003484}}
.posts-listing {
  list-style: none;
}
/* line 487, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003487}}
.posts-listing > li {
  margin-bottom: 4em;
  border-bottom: 1px solid #eee;
  padding-bottom: 3em;
}
/* line 494, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003494}}
.link {
  margin-bottom: 1.5em;
}
/* line 498, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003498}}
.archive {
  margin-bottom: 6em;
}
/* line 501, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003501}}
.archive > h3 {
  padding-bottom: .5em;
}
/* line 505, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003505}}
.archive > a {
  font-size: 1.5em;
  color: #fff;
  background: #c21720;
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  padding: .6em 1em .4em 1em;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
  text-align: center;
  display: block;
}
/* line 522, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003522}}
.archive > a:hover,
.archive > a:focus {
  color: #efc5c6;
}
/* line 527, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003527}}
.archive > a:active {
  color: #efc5c6;
  background: #ae151d;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 2px 6px;
}
@media screen and (min-width: 40em) {
  /* line 537, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003537}}
  .archive {
    text-align: center;
  }
  /* line 540, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003540}}
  .archive > a {
    display: inline;
  }
}
/* @end main */
/* @group about */
/* line 551, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003551}}
.about {
  color: #444;
  background: #fff;
  padding: 1.5em 0;
}
/* line 557, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003557}}
.about-copy {
  color: #808080;
}
/* @end about */
/* @group footer */
/* line 565, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003565}}
.footer {
  text-align: center;
  padding: 0 0 1em;
}
/* line 569, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003569}}
.footer a {
  color: #56757d;
  border-color: #b0c1c6;
  outline: none;
}
/* line 574, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003574}}
.footer a:hover,
.footer a:focus {
  border-color: #56757d;
}
/* line 579, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003579}}
.footer a:active {
  color: #304146;
  border-color: #304146;
}
/* line 587, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003587}}
.footer-copy p {
  line-height: 1.25;
  margin: 0 0 1em;
}
/* line 593, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003593}}
.copyright {
  width: 16em;
  margin: auto;
  /* border-top: 10px solid #b0c1c6; */

  border-top: 10px solid #88a1a9;
  padding: 1.5em 0;
}
/* line 600, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003600}}
.copyright > small {
  font-size: 1em;
  font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-shadow: #fff 0 1px 0;
}
/* @end footer */
/* @group misc */
/* line 612, /Users/carlrafting/Sites/carlrafting.dev.v7/less/partials/main.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/carlrafting\/Sites\/carlrafting\.dev\.v7\/less\/partials\/main\.less}line{font-family:\00003612}}
.hidden {
  display: block;
  visibility: hidden;
  height: 0;
}
/* @end misc */@media print {
  
}
