---
layout: default
title: Home
page-home: true
---

<ul class="posts-listing">
{% for post in site.posts limit: 10 %}

{% if post.layout == 'link' %}
<li class="link">
  <h2 class="link-title"><a href="{{ post.url }}">{{ post.title }}</a> <a href="{{ post.link }}">»</a></h2>

  <p class="posted"><time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}" pubdate>{{ post.date | date: '%d %B, %Y' }}</time></p>


{{ post.content | textilize }}
</li>
{% endif %}

{% if post.layout == 'post' %}
<li class="post">
  <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  
  <p class="posted"><time datetime="{{ post.date | date: '%Y-%m-%d %H:%M' }}" pubdate>{{ post.date | date: '%d %B, %Y' }}</time></p>
  
{{ post.content | textilize }}
</li>
{% endif %}

{% endfor %}
</ul>

<div class="archive">
  <h3>Older articles</h3>
  
  <a href="/archive/">Archive</a>
</div>

<div class="about">
  <h3>About</h3>
  
  <p class="about-copy">My name is Carl Räfting and i’m currently spending my time studying web application development at Jensen Education YH in Gothenburg, Sweden.
<a class="aside-link" href="/about/">Learn More &raquo;</a></p>
</div>