{% if post.layout == 'link' %}
<li class="link">
<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
{% include _postdate.html %}
<div class="link-description">
{{ post.content | textilize }}
</div>
<p class="link-url">
<a href="{{ post.link }}">{{ post.title }} »</a>
</p>
</li>
{% endif %}

{% if post.layout == 'post' %}
<li class="post">
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
{% include _postdate.html %}
{% if post.excerpt %}
<div class="post-excerpt">
{{ post.excerpt | textilize }}
</div>
<p class="post-read-more">
<a href="{{ post.url }}">Read the rest...</a>
</p>
{% endif %}
</li>
{% endif %}
