body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  line-height: 1.5;
  font-size: 1.25em;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}
.robot-emoji {
  font-size: 4em;
}
.js-active .robot-emoji {
  cursor: pointer;
}
.robot-text {
  color: #888;
  font-style: italic;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bubble {
  background: #eee;
  padding: 1em;
  border-radius: 1em;
  position: relative;
  transition: opacity 100ms, transform 100ms;
  animation: fadein 250ms ease-in;
  opacity: 1;
}
.bubble a {
  color: inherit;
  text-decoration: none;
}
.bubble a:hover {
  color: #444;
  text-decoration: underline;
}

/*
.bubble::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid #eee;
  border-top: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}
*/
