/* @group footer */

.footer {
  text-align: center;
  padding: 0 0 1em;

  a {
    color: #56757d;
    border-color: #b0c1c6;
    outline: none;

    &:hover,
    &:focus {
      border-color: #56757d;
    }

    &:active {
      color: #304146;
      border-color: #304146;
    }
  }
}

.footer-copy {
  p,
  ul {
    font-size: .8em;
    margin: 0 0 1em;
  }
}

.copyright {
  width: 16em;
  margin: auto;
  /* border-top: 10px solid #b0c1c6; */
  border-top: 10px solid #88a1a9;
  padding: 1.5em 0;

  > small {
    font-family: adelle-1, "Adelle Basic", "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-shadow: #fff 0 1px 0;
  }
}

/* @end footer */