/* @group header */

.header {
  color: #fff;
  background: #c21720;
  padding-top: 1em;
  border-bottom: 10px solid #ae151d;

  > h1 {
    font-size: 1em;
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }

  a:link,
  a:visited {
    color: #fff;
  }

  a:hover,
  a:focus {
    color: #f5c2c5;
  }

  a:active {
    color: #ea838c;
  }  
}

.go-to-footer {
  padding: .25em .5em;
  font-size: 1.25em;
  background: #ae151d;
  color: #fff;
  border: 0;
  text-align: center;
  position: relative;
  top: -.75em;
  display: block;
  margin-bottom: .5em;

  @media screen and (min-width: 40em) {
    position: absolute;
    left: .5em;
    top: .5em;
  }

  .header &:focus {
    color: #fff;
    outline: 4px solid #e98f30;
  }

  &:active {
    background: #9c0007;
  }
}

.header-title {
  font-size: 2em;
  font-family: adelle-1, "AdelleBasic-Bold", "Adelle Basic", "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  width: 8em;
  margin: auto;
  color: #fff;
  border-bottom: 10px solid #ec9022;
  text-shadow: 0 2px 1px rgba(0, 0, 0, .25);
  display: block;
  margin-bottom: -10px;

  @media screen and (min-width: 30em) {
    .page-home & {
      font-size: 4em;
      font-style: italic;
      text-transform: none;
      width: 4em;
    }  
  }
}

.header-title {
  span {
    margin-left: -2em;
    margin-right: -2em;
  }

  a {
    color: #fff;
    border: 0;
  }
}

/* @end header */