/* @group main */

.main {
  color: #666;
  background: #fff;
  padding: 3em 0;
  margin-bottom: -10px;
  border-bottom: 10px solid #b0c1c6;
}

.content {
  padding: 0 5%;
  max-width: 30em;
  margin: auto;

  .search & {
    position: relative;
  }
}

/* @end main */