.posted {
  font-style: italic;
  display: block;
  color: #808080;
  text-align: center;
  margin-bottom: 1.5em;
  
  &::before,
  &::after {
    content: '~';  
  }
  
  &::before {
    margin-right: .25em;
  }
  
  &::after {
    margin-left: .25em;
  }
}

.posts-listing {
  list-style: none;

  > li {
    margin-bottom: 4em;
    border-bottom: 1px solid #eee;
    padding-bottom: 3em;
  }
}

// Titles in listing

.post-title {
  font-size: 2em;
  line-height: 1.1;
  
  & a {
    color: #444;
    border: 0;
    
    &:hover {
      border-bottom: 2px solid lighten(#444, 66%) !important;
    }
  }
}

.link-title {
  font-size: 1.25em;
  line-height: 1.65;
}

// Headings on individual post pages
.link-heading {
  line-height: 1.25;
}