//
// Colors
//

$black: #000;
$gray: #808080;

$baseblue: #61828b;
$baseblue-light-10: #d7e0e2;
$baseblue-light-25: #708f96;
$baseblue-light-50: #88a1a9;
$baseblue-light-75: #d7e0e2;
$baseblue-dark-10: #56757d;
$baseblue-dark-25: #486169;
$baseblue-dark-50: #304146;
$baseblue-dark-75: #172123;

$basered: #c21720;
$basered-light-10: #c82f34;
$basered-light-25: #d15155;
$basered-light-50: #df8b8e;
$basered-light-75: #efc5c6;
$basered-dark-10: #ae151d;
$basered-dark-25: #901018;
$basered-dark-50: #600a0f;
$basered-dark-75: #300606;

$baseorange: #e98f30;

// Link colors
$link-color: #c82f34;
$link-border-color: #efc5c6;




//
// Typography
//

$sans-serif: "Avenir Next", "Helvetica Neue", Arial, sans-serif;
$slab-serif: adelle-1, "Adelle Basic", "Helvetica Neue", Arial, sans-serif;

$font-size-small: 12px;
$font-size-regular: 16px;

$line-height-regular: 24;




//
// Breakpoints
//

$breakpoint-media-type: screen;