<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
{% if page.home %}
<title>Carl Räfting — Web builder and stuff i guess...</title>
{% else %}
<title>{{ page.title }} &mdash; Carl Räfting</title>
{% endif %}
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/css/global.css" media="all">
<link rel="alternate" type="application/atom+xml" href="/feed.xml" title="Carl Räfting">
</head>
<body>

<div class="header" role="banner">

{% if page.home %}
<h1><a class="header-title header-title-home" href="/"><span>Carl Räfting</span></a></h1>
{% else %}
<a class="header-title" href="/"><span>Carl Räfting</span></a>
{% endif %}

<a class="jump-nav" href="#nav">Jump to navigation</a>

</div>

<hr>

<div class="main" role="main">
<div class="content">

{{ content }}

</div>
</div>

<div class="nav" id="nav">
<ul>
<li><a href="/about/">About</a></li>
<li><a href="/archive/">Archive</a></li>
</ul>
</div>

<hr>

<div class="footer" role="contentinfo">
<p class="copyright"><small>&copy; {{ 'now' | date: "%Y" }} Carl Räfting.</small></p>
<div class="jump-top"><a href="#">Jump to top</a></div>
</div>

<script src="/js/global.js"></script>

</body>
</html>
